/* ------- CARDS ------- */

.cards_container {
    /* border: 1px solid grey; */
    display: flex;
    width: 90vw;
    gap: .3em;
}

.card {
    background-color: #ffffff9c;
    display: flex;
    flex-direction: column;
    padding: .5em .1em;
    border: 1px solid ;
    border-radius: 10px;
    align-items: center;
    width: 25%;
    height: 20em;
    overflow: hidden;
}

.card-content {
    /* border: 1px dotted blue; */
    height: 100%;
    
    
    width: 90%;

    /* Det går att skrolla men scrollbar syns inte */
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    
}

.remove_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: #cfcfcf; /* Anpassa färgen efter ditt behov */
    color: #3c3c3c;
    /* border: 1px solid #000000; */
    border: none;
    font-size: .5em;
    padding: .3em;
    margin: .2em .2em 0 0;
    cursor: pointer;

}

.card_btn {
    border-radius: 3px;
    background-color: lightblue;
    padding: .3em;
    justify-self: end;
}

/* ------- QuickLinks ------- */

.quick-link_favicon {
    position: relative;
    width: 1.3em;
    filter: grayscale(40%);
    border-radius: 50%;
    
    
}

.link {
    border-radius: 30px 10px 10px 30px;
    background-color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .3em .1em;
    
    a {
        width: 100%;
        display: flex;
        align-items: center;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        p {
            padding-left: 10%;
        }
        
    }
    
    
}


/* INSIDE MODAL (new quicklink) */

.link-preview_div {

    
    
    
    .link-preview-text {
        border-left: 3px solid black;
        padding: .2em .4em;

    }

    

    img {
        max-width: 40%;
    }

}


