/* ------- CARDS ------- */

.cards_container {
    border: 1px solid grey;
    display: flex;
    width: 90vw;
}

.card {
    border: 1px solid ;
    border-radius: 5px;
    align-items: center;
    width: 25%;
    height: 90%;
}



/* ------- QuickLinks ------- */

.quick-links_card {
    display: flex;
    flex-direction: column;
    padding: .5em .1em;
}

.links_container {
    border: 1px dotted blue;
    height: 100%;
    width: 90%;
}

.quick-link_favicon {
    width: 1.3em;
    filter: grayscale(40%);
    border-radius: 50%;
}

.link {
    display: flex;
    justify-content: space-between;
    margin: .1em;
}




.add-quick-link{
    border-radius: 3px;
    background-color: lightblue;
    padding: .3em;
    justify-self: end;
}