
.clock_container {
    margin: .3em;
    border-radius: 50px;
    height: fit-content;
}

.clock-style-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20em;

    .day-short {
        display: none;
    }
    
    .date_div {
        /* border: 1px dotted; */
        display: flex;
        gap: 1em;

        .month-full {
            display: none;
        }
    }
    
    .time_div {
        /* border: 1px dashed; */
        display: flex;
        font-size: 2em;

        .minute {
            &::before,
            &::after {
                content: ':';
                margin: 0 .3em; /* Justera mellanrummet här */
            }
        }
    }

}

.clock-style-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20em;

    
    .date_div {
        /* border: 1px dotted; */
        display: flex;
        gap: 3em
        
    }
    
    .time_div {
        /* border: 1px dashed; */
        display: flex;
        font-size: 2em;

    }

}